<div class="Standing">
    <div class="Standing__Header Standing__Row">
        <div style="flex:1" class="Standing__Column">#</div>
        <div style="margin-right: 12px; width:60px">Photo</div>      
        <div style="flex:3" class="Standing__Column">Name</div>
        <div style="flex:3" *ngIf="data && data[0] && data[0].name" class="Standing__Column">Team</div>        
        <div style="flex:1" class="Standing__Column">Points</div>
    </div>
    <div *ngFor="let row of data; let i=index" class="Standing__Row">     
        <div style="flex:1" class="Standing__Column Standing__Highlighted">{{i+1}}.</div>
        <div class="Standing__DriverPhoto" [style.background-image]="'url(assets/drivers/'+row.photo+')'"></div>      
        <div style="flex:3" class="Standing__Column Standing__Highlighted">{{row.name}}</div>
        <div style="flex:3" *ngIf="row.team" class="Standing__Column">{{row.team}}</div>        
        <div style="flex:1" class="Standing__Column">{{row.points}}</div>
        
    </div>
</div>