<div class="DriverTile" [style.background-color]="backgroundColor">  
    <div  [ngbTooltip]="driver.team" class="DriverTile__TeamImage" [style.background-image]="'url(assets/teams/'+teamPhotoId+'.jpg)'"></div>
    <div *ngIf="fastestLap" class="DriverTile__FastestLap">Fastest Lap</div>
    <div class="DriverTile__Image" [style.background-image]="'url(assets/drivers/'+driverPhotoId+'.jpg)'"></div>
    <div class="DriverTile__Name">{{driver.givenName}} {{driver.familyName}}</div>    
    <div>{{driver.nationality}}</div>   
    <div>{{driver.dateOfBirth}}</div>   
    <div *ngIf="driver.permanentNumber" class="DriverTile__Number">#{{driver.permanentNumber}}</div>   
    <div *ngIf="!driver.permanentNumber" style="height: 57px;"></div>
</div>


