<div class="MainBg"></div>
<div class="MainPage__Title">F1 Statistics</div>
<div class="MainPage__NavButtons">
    <a routerLink="/seasons" class="nav-link" >Seasons</a>
</div>
<div class="page">
    <div class="MainPage__SubTitle">Wall of F1 Winners</div>

    <div *ngIf="areBubblesLoading" style="margin: auto; display: block;" class="spinner-grow text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    <bubble-chart [data]="bubbleChartData">    
    </bubble-chart>
</div>


