<div class="MainBg">
  <img class="MainPage__Slide" src="assets/icons/slide.png" height="55" width="55" (click)="scrolldown()"/>
</div>
<div class="MainPage__MainSection">
  <div *ngIf="isNextRaceLoading"  class="spinner-grow text-info spinner-middle" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <next-race *ngIf="!isNextRaceLoading" [data]="nextRaceData"></next-race> 
</div>

<div class="page">

  <div class="MainPage__SubTitle">Last Race</div>
  <div *ngIf="isLastRaceResultLoading" class="spinner-grow text-info spinner-middle"
  role="status">
  <span class="sr-only">Loading...</span>
</div>
<ng-container *ngIf="!isLastRaceResultLoading">
 
  <race-data [data]="lastRaceResult" (onDriverClicked)="openDriverDetail($event)"></race-data >
</ng-container>


<div class="MainPage__SubTitle">Drivers Table</div>
  <div *ngIf="isDriverStandingLoading" class="spinner-grow text-info spinner-middle"
    role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <ng-container *ngIf="!isDriverStandingLoading">
 
    <standing [data]="driverStanding"></standing>
  </ng-container>

  <div class="MainPage__SubTitle">Teams Table</div>
  <div *ngIf="isTeamStandingLoading" class="spinner-grow text-info spinner-middle"
    role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <ng-container *ngIf="!isDriverStandingLoading">
    <standing [data]="teamStanding"></standing>
  </ng-container>

  <div class="MainPage__SubTitle">Wall of F1 Winners</div>
  <div *ngIf="areBubblesLoading" class="spinner-grow text-info spinner-middle" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <ng-container *ngIf="!areBubblesLoading"> 
    <bubble-chart [data]="bubbleChartData">
    </bubble-chart>
  </ng-container>

  <zoomable-circle-chart [data]="teamsAndDrivers"></zoomable-circle-chart>

</div>