<div class="Navbar" 
[style.background-color]="isOpacityOnDefault && !scrolled?'rgba(0,0,0,0)':'black'"
(click)="removeFocus()"
> 
    <a style="margin-right: 18px;" 
    class="nav-link" 
    routerLink="/">
      <img height="35" width="35" src="assets/icons/f1.png"/>
    </a>
    <a routerLink="/drivers" class="nav-link">Drivers</a>
    <a routerLink="/teams" class="nav-link">Teams</a>
    <a routerLink="/seasons" class="nav-link">Seasons</a>
    <a routerLink="/circuits" class="nav-link">Circuits</a>
    <a routerLink="/todo" class="nav-link">You might not know...</a>
  </div>
