@import "../../../styles.scss";
.Navbar {
    position: fixed;
    top: 0;
    padding: 6px 10px;
    display: flex;
    z-index: 1;
    width: 100%;
    background-color: black;

    @media  screen and (max-width: $S_MAX) {             
        background-color: black !important;
    }

    &__Links{
        display: flex;
        @media  screen and (max-width: $S_MAX) {             
            display: none;
        }
    }

    &__MobileNav{
        display: none;
        align-self: center;
        cursor: pointer;
        @media  screen and (max-width: $S_MAX) {             
            display: block;
        }
    }

    &__MobileMenuIcon{
        width: 25px;
        height: 3px;
        border-radius: 4px;
        background-color: white;
        margin-bottom: 6px;;

        &:hover{
            background-color: black;
        }
    }
}
