.Searchbox {
  position: relative;

  &__Body {
    position: absolute;
    background-color: white;
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 4px 0px;
    margin-top: 2px;
    max-height: 140px;
    overflow: auto;
    z-index: 8;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }

  &__Item {
    padding: 4px 8px;
    cursor: pointer;
    width: 100%;
    border: none;
    background: none;
    text-align: left;

    &:hover {
      background-color: #d6d6d6;
    }
  }

  &__Icon {
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__SearchField {
    padding-left: 28px;
    width: 100%;
    border-radius: 12px;
    border: none;
    outline: none;
  }
}
