/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Baloo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

$S_MAX: 600px;
$M_MIN: 601px;
$M_MAX: 1300px;
$L_MIN: 1301px;

body {
    height: 100%;
    width: 100%;
    font-family: "Baloo 2", cursive !important;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

.nav-link {
    color: white;
    background: none;
    border: none;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    align-self: center;
    border-radius: 12px;
    padding: 4px 14px;
    border: 2px solid transparent;
    transition: cubic-bezier(0, 0.41, 0.76, 0.79) all 0.1s;
    &:focus {
        outline: none;
        background-color: white;
        color: black;
    }

    &:hover {
        border: 2px solid black;
        background-color: white;
        color: black;
    }
}

.page {
    margin: 0% 15%;
    padding-top: 59px;
    margin-bottom: 36px;
    @media screen and (max-width: $S_MAX) {
        margin: 0%;
    }
}

.spinner-middle {
    margin: 24px auto;
    display: block;
}

img{
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden-s{
    @media screen and (max-width: $S_MAX) {
        display: none;
    }
}

.hidden-m{
    @media screen and (max-width: $M_MAX) {
        display: none;
    }
}


